*
{
padding: 0px;
margin: 0px;
text-decoration: none;
list-style: none;
}

body {
background-image: url("img/Backgroundimage.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 1440px;
height: 600px;
}

/*HEADER STYLING*/
header
{
display: flex;
width: 100%;
height: 100px;
z-index: 5000;
position: fixed;
top: 0px;
left: 0px;
right: 0px;
}

header > .logo1{
position: absolute;
width: 200px;
height: 100px;
left: 0px;
top: 0px;
}

header > .logo2{
position: absolute;
width: 100px;
height: 38px;
left: 203px;
top: 28px;
}

.Header-links > ul {
position: absolute;
display: flex;
flex-flow: row;
align-items: center;
width: 261px;
height: 24px;
left: 1249px;
top: 38px;
}

.Header-links > ul > li {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
}

.Header-links > ul > li > a{
color: #FFFFFF;
padding-left: 43px;
}

.Header-links > ul > li > a:hover{
opacity: 0.9;
text-decoration: underline;
}


/*BODY TEXT STYLING*/
.Body-text {
position: absolute;
width: 862px;
height: 240px;
left: 30px;
top: 168px;
z-index: 10;
}

h1 {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 120px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.Body-text-paragraph {
position: absolute;
width: 721px;
height: 103px;
left: 30px;
top: 449px;
z-index: 10;
}

p {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 35px;
color: #FFFFFF;
}

svg {
position: absolute;
left: -150px;
top: 230px;
}

/*BUTTON-CTA STYLING*/
.CTA-Text-btn {
position: absolute;
width: 483px;
height: 130px;
left: -7px;
top: 600px;
background: none;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
color: #FFFFFF;
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 130px;
cursor: pointer;
z-index: 10;
}

.CTA-Text-btn:hover {
background: #6C63FF;
border: none;
}

.CTA-Text-btn > img {
position: absolute;
left: 5.04%;
right: 73.71%;
top: 28.50%;
bottom: 26.92%;
}

/*BODY-SUBSCRIPTION FORM-1 STYLING*/
.Card-Subscription {
position: absolute;
width: 509px;
height: 531px;
left: 1021px;
top: 168px;
font-family: 'Lato', sans-serif;
}

.Card-Subscription > img {
width: 100%;
height: 323px;
}

.Card-Subscription > h3 {
font-family: Lato;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 150%;
width: 100%;
/* or 45px */
color: #D19946;
text-align: center;
padding-top: 20px;
}

.Card-Subscription > .email-sub {
max-width: 509px;
margin-top: 32px;
overflow: hidden;
}

.Card-Subscription > .email-sub input[type=text] {
width: 509px;
height: 53px;
background: #F8F5F5;
border: 1px solid #3A3A3D;
box-sizing: border-box;
border-radius: 3px;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
padding-left: 10px;
}

.Card-Subscription > .email-sub .Email-Sub-btn {
width: 509px;
height: 79px;
background: #6C63FF;
border-radius: 3px;
text-align: center;
color: white;
cursor: pointer;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */
color: #FFFFFF;
margin-top: 10px;
}

.Card-Subscription > .email-sub .Email-Sub-btn:hover{
opacity: 0.85;
}


/*BODY-SUBSCRIPTION FORM-2 STYLING*/
.card-subscription2 {
position: absolute;
width: 435px;
height: 551px;
left: 1021px;
top: 178px;
background: #FFFFFF;
box-shadow: 0px 4px 77px rgba(138, 0, 23, 0.5);
border-radius: 5px;
}

.card-subscription2 > .card-header {
width: 435px;
height: 100px;
left: 0px;
right: 0px;
top: 0px;
background: #831226;
border-radius: 5px 5px 0px 0px;
}

.card-subscription2 > .card-header >   .Logo-Theme2 {
position: absolute;
width: 200px;
height: 100px;
margin-left: 35px;
}

.card-subscription2 > .card-header > .Music-Theme2 {
position: absolute;
width: 100px;
height: 38px;
margin: 31px 65px 31px 259px;
}

.card-subscription2 > p {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: justify;
color: #222224;
padding: 30px 23.5px 30px 23.5px;
}

.card-subscription2 > h3 {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
text-align: center;
/* or 30px */
color: #831226;
padding-bottom: 30px
}


.card-subscription2 > .email-sub2 {
max-width: 388px;
overflow: hidden;
margin-left: 23.5px;
margin-right: 23.5px;
}

.card-subscription2 > .email-sub2 input[type=text] {
width: 388px;
height: 40px;
background: #F8F5F5;
border: 1px solid #3A3A3D;
box-sizing: border-box;
border-radius: 3px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
padding-left: 10px;
/* identical to box height, or 24px */
color: #000000;
display: flex;
align-items: center;
}

.card-subscription2 > .email-sub2 > .subscribe-btn {
width: 388px;
height: 79px;
margin-top: 10px;
margin-bottom: 20px;
background: #831226;
border-radius: 3px;
font-family: 'Lato', sans-serif;
text-align: center;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */
color: #FFFFFF;
cursor: pointer;
}

.card-subscription2 > .email-sub2 > .subscribe-btn:hover {
opacity: 0.85;
}
.card-subscription2 > .email-sub2 > .T-n-C {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #222224;
padding: 0px 0px 37px 200.5px;
}
